<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.select :address, Report::ADDRESS, {include_blank: "Selet an address"}, class: "ui dropdown" %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.number_field :size, value = {min:1, max:10} %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.text_field :district %>
  </div>

<!--  <div class="field">-->
    <%#= form.label :repair_priority %>
    <%#= form.hidden_field :repair_priority %>
<!--  </div>-->

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
