<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @report.address %>
</p>

<p>
  <strong>Size:</strong>
  <%= @report.size %>
</p>

<p>
  <strong>Location:</strong>
  <%= @report.location %>
</p>

<p>
  <strong>District:</strong>
  <%= @report.district %>
</p>

<p>
  <strong>Repair priority:</strong>
  <%= @report.repair_priority %>
</p>

<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
